.LeadGenerationPage {
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
  margin-top: 6rem;
}

.LeadingGenSection {
  position: relative;
  max-width: 100%;
  min-height: 80vh;
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.LeadGenContainer {
  position: relative;
  max-width: 1316px;
  margin-inline: auto;
  border: 1px solid brown;
  height: 600px;
  background-color: var(--hover2);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.vectortopImg {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 10%;
  right: 22%;
}

.leadGenTextContainer {
  padding-left: 98px;
}

.LeadGenContainer .leadtextheader {
  display: flex;
  gap: 1em;
  align-items: center;
}

.textheaderimg {
  position: relative;
  width: 20px;
  height: 20px;
}

.leadtextheader h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--blueText);
}

.leadGenTextContainer h1 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  letter-spacing: -0.5px;
  color: var(--blueText);
  max-width: 90%;
}
.leadGenaImageContainer {
  position: relative;
}

.leadmanImg {
  position: relative;
  width: 500px;
  height: 600px;
}

.leadimgstat {
  position: absolute;
  width: 250px;
  height: 150px;
  right: 65%;
  top: 15%;
}

.leadimgstat2 {
  position: absolute;
  width: 280px;
  height: 200px;
  right: 45%;
  bottom: 7%;
}

/* LEAD GENERATION SERVICES SECTION */

.leadServicesSection {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

.leadGenServicesContainer {
  padding: 4rem 0;
  max-width: 1120px;
  height: 100%;
  margin-inline: auto;
}

.leadGenServicesContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leadGenServicesContentText h4 {
  color: var(--blueText);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  /* width: 80%; */
  margin-bottom: 1rem;
}

.leadGenServicesContentText {
  width: 50%;
}

.leadImageWrapper {
  position: relative;
}

.leadImgabsolute {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 0;
  left: -10%;
  z-index: 22;
}

.leadImgabsolutebottom {
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: -10%;
  right: -10%;
  z-index: 22;
}
.leadservicesImg {
  position: relative;
  width: 497.683px;
  height: 340.879px;
}

.servicesContactSection {
  width: 100%;
  height: 70vh;
  background-color: var(--blueText);
}

.servicesContactContainer {
  position: relative;
  max-width: 1120px;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.servicesContactContainer h2 {
  width: 730px;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  margin-bottom: 1.5rem;
}

.servicesContactContainer button {
  width: 200px;
  height: 55px;
  padding: 8px;
  border-radius: 36px;
  background-color: var(--btn);
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.36px;
  border: none;
}

.servicesContactImgtop {
  position: absolute;
  width: 132px;
  height: 26px;
  top: 10%;
  right: 0;
  z-index: 22;
}

.servicesContactImgbottom {
  width: 194px;
  height: 36px;
  position: absolute;
  bottom: 40%;
  left: 0;
}
