.parent {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  position: fixed;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: 900;
}

.logoContainer {
  position: relative;
  width: 90px;
  height: 90px;
}
