.form {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.fullname {
  width: 100%;
  display: flex;
  flex: 1 0 0;
  gap: 0.7em;
}

.errorText {
  color: red;
  font-size: 12px;
  margin: 6px 0 0 6px;
}
