.Contentmarketingpage {
  width: 100%;
  min-height: 100vh;
  margin-top: 5.6rem;
}

.contentSection {
  width: 100%;
  min-height: 100vh;
  background-color: var(--hover1);
  position: relative;
  overflow-y: hidden;
}

.contentContainer {
  max-width: 1120px;
  height: 100%;
  margin-inline: auto;
}

.contentheaderImg {
  position: relative;
  width: 20px;
  height: 20px;
}

.contentheader {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contentheader h4 {
  color: var(--blueText);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
}

.contentText h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  /* width: 80%; */
  color: var(--blueText);
}
.contentImages {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.firstContentImage {
  display: flex;
  gap: 5em;
  align-items: center;
}

.firstContentImage .contentImg {
  position: relative;
  width: 134px;
  height: 134px;
}

.firstContentImage .contentImg2 {
  width: 305px;
  height: 305px;
  position: relative;
}

.contentContainer {
  align-items: center;
  display: flex;
}

.secondContentImage {
  position: relative;
  margin-right: 12rem;
  display: flex;
}
.secondContentImage .contentImg {
  position: relative;
  width: 388px;
  height: 292px;
}

.secondContentImage .contentImg2 {
  position: absolute;
  width: 388px;
  height: 292px;
  z-index: 99;
  top: 0;
  left: 35%;
}

.vectorbottom {
  position: absolute;
  width: 108px;
  height: 108px;
  bottom: 0;
  left: 0;
}

/* CONTENT MARKETING SERVICES SECTION */

.contentservicessection {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 6rem 0;
}

.contentservicescontainer {
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 96px;
  /* padding: 4rem 0; */
}

.contentservicecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.contentservicecontent h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  font-family: var(--text-Font-Bold);
  color: var(--blueText);
  margin-bottom: 1rem;
}
.contentServiceText {
  width: 40%;
}
.contentservicesImg {
  width: 500px;
  height: 500px;
  position: relative;
}

.contentservicesImg2 {
  border-radius: 20px;
  width: 608px;
  height: 400px;
  background: var(--hover1);
}

/* CONTENT MARKETING PRICING SECTION */

.contentpricingsection {
  width: 100%;
  min-height: 100vh;
  margin-top: 2rem;
}

.ContentPricingHeader {
  color: var(--blueText);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2;
}

.ContentPricingHeader h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  font-family: var(--text-Font-Bold);
}

.contentspan {
  color: var(--yellow);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

.contentpricingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
