.CaseStudyPage {
  margin-top: 6rem;
  max-width: 1216px;
  /* border: 2px solid blue; */
  margin-inline: auto;
}

.CaseStudyHeader {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  margin-top: 131px;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--yellow);
}

.CaseStudyHeader h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: var(--text-Font-Bold);
  color: var(--btn);
}

.CaseStudyHeader h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: var(--blueText);
  font-family: var(--text-Font-Bold);
}

.casespan {
  color: var(--yellow);
}

/* DIGITAL TRANSFORMATION SECTION */

.DigitalTransformationSection {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  margin-top: 6rem;
}

.headingsection h5 {
  color: var(--btn);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: var(--text-Font-Bold);
  margin-bottom: 16px;
}

.headingsection h2 {
  color: var(--blueText);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  font-family: var(--text-Font-Bold);
}

.headingsection p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: var(--blueText);
  margin-top: 24px;
}

/* SECOND HEADING SECTION */

.secondheadingsection {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.challanges {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.challangescontent {
  display: flex;
  align-items: center;
  gap: 1em;
}

.secondheadingsection h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  color: var(--blueText);
  font-family: var(--text-Font-Bold);
}

.challangescontent {
  display: flex;
  align-items: flex-start;
}

.Tickimg {
  position: relative;
}
.challangescontent p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: var(--blueText);
  font-family: var(--text-Font-Regular);
}

/* THIRD HEADING SECTION */

.thirdheadingsection {
  margin-top: 6rem;
}

.thirdsectionheader {
  color: var(--blueText);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  font-family: var(--text-Font-Bold);
  text-align: center;
}

.textWrapper {
  /* border: 2px solid red; */
  margin-top: 1.5rem;
}

.textcontentflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.textconent {
  /* border: 3px solid blue; */
  max-width: 544px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.textconent h4 {
  color: var(--blueText);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  font-family: var(--text-Font-Bold);
}

.textconent p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: var(--blueText);
  font-family: var(--text-Font-Regular);
}

.lastheadingtext {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: var(--blueText);
  font-family: var(--text-Font-Regular);
  text-align: center;
  margin-top: 6rem;
  width: 1120px;
}
